canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 33px;
}
.ao_redor {
    background-color:whitesmoke;
    border: black 2px solid;
    margin: 5px;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 0px 10px #000000;
    opacity: 100%;
}
body {
    display: flex;
    margin: 0;
    background-color: rgb(193, 230, 247);
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
}

rt
* {
    font-family: arial;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/* Css Cabeçalho */
.header {
    width: 100%;
    height: 25px;
    background: rgb(89,172,254);
    background: linear-gradient(90deg, rgba(89,172,254,1) 0%, rgba(15,101,187,1) 100%);
    border-bottom: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-content: space-between;
    padding-bottom: 50px;
   
    box-shadow: 5px 0px 5px #000000;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    justify-content: end;
}

/* Começo menu dropdown */

.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 50px;
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-shadow: 5px 0px 5px #000000;
    border-radius: auto;
}

.mainmenubtn a {
    color: black;
     /* rgb(255, 255, 255); */
     font-size: xx-small;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.mainmenubtn:hover {
    background-color: rgba(15, 101, 187, 0.226);
}
/* FIM Css Cabeçalho */
/* Começo do Footer */
.copyright {
    width: 100%;
    height: 100px;
    background-color: #AEB6FF;
    border-top: solid 1px white;
    display: flex;
    flex-direction: column;
}

.copyright .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 99%;
    letter-spacing: 0.1em;
    flex-direction: column;

}

.copyright span {
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.copyright .container #row {
    display: flex;
    flex-direction: row;
}

/* Fim do Copyright */

/* .userfoto {
    height: 90px;
    width: 90px;
    border-radius: 150%;
    /* text-align: end; */
    /* background-color: white; */
    /* display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 80px ;
    background-image: url(../assets/img/SE34-2.png);
    background-size: cover;
    background-repeat: no-repeat;
} */ 
.icon1{
    height: 40px;
    width: 40px;
    border-radius: 150%;
    text-align: center;
    
   
}
.img1{
    height: 70px;
    width: 70px; 
}
.perfil{
    height: 60px;
    width: 60px;
    border-radius: 150%;
    text-align: center;
    /* background-color: white; */
    display: flex;
    margin-top: 50px ;
    background-image: url(../assets/img/perfil-de-usuario\ \(1\).png);  
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kpi {
    font-size: xx-large;
    font-weight: 1000;             
                                   
}

.nitrogelo {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin-bottom: 220px;
}
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header a {
    text-decoration: none;
    color: black;
  }
  
  .agora {
    font-weight: 800;
    color: goldenrod;
  }
  
  .navbar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
  }
  
  .titulo {
    color: rgb(196, 32, 218);
    width: fit-content;
    font-weight: 500;
    font-weight: bolder;
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
  }

  .kpi1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    flex-direction: row;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .column {
    display: flex;
    flex-direction: column;
  }
  footer {
    background: rgb(89, 172, 254);
    background: linear-gradient(90deg, rgba(89, 172, 254, 1) 0%, rgba(15, 101, 187, 1) 100%);
    color: #000000;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}
